/* >>> MOBILE <<< */
.container {
    margin-top: 0;
}

form label {
    font-family: var(--font);
    font-weight: 500;
    font-size: 14px;
}

form input {
    width: 265px;
    height: 30px;
    border: 1px solid #D3D3D3;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 10 0 0 10px;
}

input::placeholder {
    padding-left: 5px;
    color: #D3D3D3;
}

button {
    width: 270px;
    height: 42px;
    font-family: var(--font);
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #D3D3D3;
    border-radius: 12px;
    background-color: var(--roxo-escuro);
    color: var(--branco-polar);
}

button:hover,
button:focus {
    color: var(--roxo);
    cursor: pointer;
    background-color: var(--branco-polar);
}

h3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 14px;
    font-family: var(--font);
    font-weight: 700;
    margin-top: 20px;
}

h3 a {
    text-decoration: none;
    color: var(--roxo-claro);
}

h3 a:hover,
h3 a:focus {
    text-decoration: underline;
    color: var(--roxo-claro);
}

/* >>> DESKTOP <<< */
@media only screen and (min-width: 1280px) {
    h3 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 12px;
        font-family: var(--font);
        font-weight: 700;
        margin-top: 20px;
    }
}
