/*>>> MOBILE <<<*/
.card_container {
    background-color: var(--roxo);
    width: 300px;
    height: 555px;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_container, .card_container h1 {
    color: var(--branco-polar);
}

.card_container h3 {
    width: 240px;
    height: 80px;
    align-items: center;
    justify-content: center;
}

figure.image_container {
    width: 240px;
    height: 190px;
    background-size: 100%;
    border-radius: 12px;
}

.image_container .image_card {
    width: 240px;
    height: 190px;
    border-radius: 12px;
}

button.btn_assets {
    color: red;
    width: 500px;
}

/*>>> DESKTOP <<<*/
@media only screen and (min-width: 1280px) {
    .card_container {
        margin: 50px;
    }

    .card_container, .card_container h1 {
        color: var(--branco-polar);
    }
    
    .card_container h3 {
        width: 240px;
        height: 80px;
        align-items: center;
        justify-content: center;
    }
    
    figure.image_container {
        width: 240px;
        height: 190px;
        background-size: 100%;
        border-radius: 12px;
    }
    
    button.btn_assets {
        color: red;
        width: 500px;
    }
}