.container_edit {
    width: 500px;
    height: 400px;
    padding: 56px 56px 24px 56px;
    position: absolute;
    top: 50%;
    left: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%);
    margin-top: unset;
    border-radius: 12px;
    background-color: var(--branco-polar);
}

.container_edit .container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_edit h1 {
    font-family: var(--font);
    font-weight: 700;
    text-align: center;
    color: var(--roxo-escuro);
}

.container_edit span {
    position: absolute;
    top: 65px;
    left: 170px;
    font-size: 20px;
    color: var(--roxo-escuro);
}

.container_edit span:hover,
.container_edit span:focus {
    color: var(--roxo-claro);
    font-size: 35px;
}

form label {
    font-family: var(--font);
    font-weight: 500;
    font-size: 14px;
}

.container_edit a:hover {
    cursor: pointer;
}

.container_edit .button_ok {
    width: 270px;
    height: 42px;
    font-family: var(--font);
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #D3D3D3;
    border-radius: 12px;
    color: var(--branco-polar);
    background-color: var(--roxo-claro);
}

.container_edit .button_ok:hover,
.container_edit .button_ok:focus {
    cursor: pointer;
    background-color: var(--roxo);
}

.container_form input {
    width: 265px;
    height: 30px;
    padding: 10 0 0 10px;
    border: 1px solid #D3D3D3;
    border-radius: 12px;
    margin-bottom: 20px;
}

.container_form .input_balance {
    width: 230px !important;
}

.container_form .balance_button {
    width: 15px;
    padding: 5px;
    position: absolute;
    top: 322px;
    left: 416px;
    border: 1px solid #D3D3D3;
    border-radius: 12px;
    text-align: center;
    color: var(--roxo-claro);
}

.container_form .balance_button:focus,
.container_form .balance_button:hover {
    background-color: var(--roxo-claro);
    color: var(--branco-polar);
}