.iwt_container {
    width: 100vw;
    height: 60vh;
    position:absolute;
    top: 240px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: var(--roxo-claro);
    background-color: var(--roxo-escuro);
}

.iwt_container p {
    width: 50vw;
    font-weight: 500;
    margin-right: 50px;
}

.iwt_container picture {
    width: 20vw;
    height: 20vw;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../../public/imagens/asset-monster.png");
    border-radius: 12px;
    transform: scale(2.7);
}

.container_header {
    overflow:unset;
}

.container_header h5.footer {
    width: 100vw;
    position: absolute;
    top: 830px;
    text-align: center;
}