.iwt_container {
    padding: 20px;
    margin-top: 110px;
}

.iwt_container p {
    font-weight: 300;
}

.container_header h5.copyright {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .iwt_container {
        padding: 100px;
    }

    .iwt_container picture {
        height: 45vh;
        background-image: url("../../../public/imagens/asset-monster.png");
    }
}

@media only screen and (min-width: 1280px) {
    .iwt_container {
        width: 100vw;
        height: 25vh;
        position: fixed;
        top: 220px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        color: var(--roxo-claro);
        background-color: var(--roxo-escuro);
    }
    
    .iwt_container p {
        width: 50vw;
        font-weight: 500;
        margin-right: 50px;
    }
    
    .iwt_container picture {
        margin-bottom: 150px;
        width: 105px;
        height: 82px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("../../../public/imagens/asset-monster.png");
        border-radius: 12px;
        transform: scale(7);
        margin-left: 200px;
    }
    
    .container_header {
        overflow:unset;
    }
    
    .container_header h5.copyright {
        width: 100vw;
        position: absolute;
        top: 830px;
        text-align: center;
    }
}