:root {
  --font: 'Montserrat', sans-serif;
  --roxo-escuro: #151426;
  --roxo-medio: #010440;
  --roxo: #323673;
  --roxo-claro: #6A6DA6;
  --branco-polar: #F0F1F2;
}

body {
  margin: 0;
  font-family: var(--font);
  background-color: var(--branco-polar);
  /* background-image: url('../public/imagens/ark-game.jpg'); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
