:root {
  --font: 'Montserrat', sans-serif;
  --roxo-escuro: #151426;
  --roxo-medio: #010440;
  --roxo: #323673;
  --roxo-claro: #6A6DA6;
  --branco-polar: #F0F1F2;
}

body {
  margin: 0;
  font-family: var(--font);
  background: rgb(222,225,228);
  background: radial-gradient(circle, rgba(222,225,228,1) 0%, rgba(240,241,242,1) 50%, rgba(222,225,228,1) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-y: scroll;
    overflow-x: hidden; */
}

code {
  font-family: var(--font);
}
