/* >>> MOBILE <<< */
.header_container {
    width: 70vw;
    margin: auto;
}

.header_container a {
    text-decoration: none;
}

.header_container h1 {
    text-align: center;
    padding: 1.4em 1.4em 0 1.4em;
    color: var(--roxo-escuro);
}

.header_container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 100px;
    color: #323673;
}

/* >>> TABLET <<< */
@media only screen and (min-width: 768px) {
    .header_container {
        width: unset;
    }
    
    .header_container nav {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* >>> DESKTOP <<< */
@media only screen and (min-width: 1280px) {   
    nav {
        width: 700px;
    }
    
    .header_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .header_container h1 {
        width: 7em;
        padding: 1em 1em 0 1em;
    }

    .header_container nav {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2em;
        margin-right: 5em;
    } 
}